<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title> 
    <link rel="stylesheet" href="../static/astyle.css"> 
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="../static/aphone.css">

</head>
<body>

 <nav>

    <div>
        <img src="https://cdn.pixabay.com/photo/2016/06/29/20/04/food-1487663_960_720.png " alt="not available">
    </div>
    <ul>

        <li><a href="/">Home</a> </li>
        <li><a href="/service">Service</a> </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a> </li>
    </ul>
</nav>
<section class="section1">
    <div>
        <h1>About Us</h1>
        <p>Founded	2020; 1 years ago</p>
        <p>Headquarters	Bangalore, India</p>
        <p>Area served	300+ cities across India</p>
        <p>Owner xyz Technologies Private Limited[1]</p>
        <p> Industry Online food ordering</p>
        <p>Services	Food delivery</p>
        <p>Registration	Optional</p>
    
    </div>

</section>

</body>
</html>