<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title> 
    <link rel="stylesheet" href="../static/cstyle.css"> 
    <link rel="stylesheet" media="screen and (max-width: 1170px)" href="../static/cphone.css">

</head>
<body>

 <nav>

    <div>
        <img src="https://cdn.pixabay.com/photo/2016/06/29/20/04/food-1487663_960_720.png " alt="not available">
    </div>
    <ul>

        <li><a href="/">Home</a> </li>
        <li><a href="/service">Service</a> </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a> </li>
    </ul>
</nav>
<section class="section1">
    <div>
        <h1>Contact Us</h1>
        <p>Service:Hari food delivery</p>
        <p>contact No:0123456789</p>
        <p> our email-id:uwgcuihoi@gmail.com</p>
        <p> our Location:wei uwehucig</p>
    </div>

</section>





</body>
</html>