<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <link rel="stylesheet" href="../static/ostyle.css"> 
    <link rel="stylesheet" media="screen and (max-width: 980px)" href="../static/ophone.css">
    <link rel="stylesheet" media="screen and (min-width:980px)" href="../static/ophone2.css">
    
</head>
<body>
    <nav>
        <div>
            <img src="https://cdn.pixabay.com/photo/2016/06/29/20/04/food-1487663_960_720.png " alt="not available">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/service">Service</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            
        </ul>
    </nav>
    <h1 id="popular">Dishes</h1>

    <section class="section1">
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-1.jpg" alt="nt">
            <p>1. Awadhi Biryani</p>
            <p>Rs 155</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-2.jpg" alt="nt">
            <p>2. Chole Bhature</p>
            <p>Rs 50</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-3.jpg" alt="nt">
            <p>3.Rumali Roti 3pcs</p>
            <p>Rs 60</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-4.jpg" alt="nt">
            <p>4. Chicken Butter Masala</p>
            <p>Rs 220</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-5.jpg" alt="nt">
            <p>5. Litti Chokha</p>
            <p>Rs 70</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-6.jpg" alt="nt">
            <p>6. Baigan Bharta</p>
            <p>Rs 90</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-7.jpg" alt="nt">
            <p>7. Kashmiri Dum Aloo</p>
            <p>Rs 110</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-8.jpg" alt="nt">
            <p>8. Tandoori Chicken</p>
            <p>Rs 190</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-9.jpg" alt="nt">
            <p>9. Parathe</p>
            <p>Rs 70</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-10.jpg" alt="nt">
            <p>10. Rajma Chawal</p>
            <p>Rs 150</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-11.jpg" alt="nt">
            <p>11. Papad Ki Sabji</p>
            <p>Rs 120</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-12.jpg" alt="nt">
            <p>12.Saag/Makki Roti</p>
            <p>Rs 110</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-13.1.jpg" alt="nt">
            <p>13. Rogan Josh</p>
            <p>Rs 140</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-14.jpg" alt="nt">
            <p>14. Dal Bati Churma</p>
            <p>Rs 170</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-15.jpg" alt="nt">
            <p>15. Dahi Vada</p>
            <p>Rs 110</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-16.jpg" alt="nt">
            <p>16. Kadhi</p>
            <p>Rs 155</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-17.jpg" alt="nt">
            <p>17. Rabri</p>
            <p>Rs 135</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-18.jpg" alt="nt">
            <p>18. Aam Ka Murabba</p>
            <p>Rs 115</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-19.jpg" alt="nt">
            <p>19. Ghewar</p>
            <p>Rs 199</p>
        </div>
        <div>
            <img src="http://www.foodofy.com/wp-content/uploads/2015/07/north-indian-foods-20.jpg" alt="nt">
            <p>20. Lassi</p>
            <p>Rs 50</p>
        </div>
    </section>
    <h2 id="contact-h2">Order details</h2>
    <section class="section4">
        <form method="POST" action="/vinod">
            <div>
                <label for="name">Name : </label>
                <input type="text" name="namey" id="name" placeholder="Enter your name">
            </div>
            <div>                  
                <label for="address">Address :</label>
                <input type="text" name="addressy" id="email" placeholder="Enter your Address">
            </div>
            <div>
                <label for="phone">Phone No:</label>
                <input type="phone" name="phoney" id="phone" placeholder="Enter your phone no">
            </div>
            <div>
            
                <div>
                    <label for="message">My order:</label>
            
                </div>
                <textarea type="text" name="messagey" id="area" cols="38" rows="8" placeholder="Write name of food items u want to order"></textarea>
            </div>
            <button>
                 | submit
            </button>
        </form>
    </section>

</body>
</html>