<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title> 
    <link rel="stylesheet" href="../static/sstyle.css"> 
    <link rel="stylesheet" media="screen and (max-width: 1164px)" href="../static/sphone.css">
   

</head>
<body>

 <nav>

    <div>
        <img src="https://cdn.pixabay.com/photo/2016/06/29/20/04/food-1487663_960_720.png " alt="not available">
    </div>
    <ul>

        <li><a href="/">Home</a> </li>
        <li><a href="/service">Service</a> </li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a> </li>
    </ul>
</nav>
<section class="section1">
    <div>
        <p> 
            <a >Hungry?</a>
            <a>Unexpected guests?</a>
            <a>Late night at office?</a>
            <a>Cooking gone wrong?</a>
        </p>
        <p class="order">Order food from favourite restaurants near you</p>
       
    </div>
</section>
<!-- section2 -->
<section class="section2">
   <div>
       <h3>No Minimum Order</h3>
       <p>Order in for yourself or for the group, with no restrictions on order value</p>
   </div>
   <div>
    <h3>Live Order Tracking</h3>
    <p>Know where your order is at all times, from the restaurant to your doorste</p>
   </div>
   <div>
    <h3>Lightning-Fast Delivery</h3>
    <p>Experience Swiggy's superfast delivery for food delivered fresh & on time</p>
   </div>
</section>


</body>
</html>